body{
  background-image: url('./images/papers\ background;.png') ;
  background-size: cover;
  background-repeat: no-repeat;
}
h5{
  text-align: center;
}
.paperimg{
  margin-left: auto;
  margin-right: auto;
  width: 1295px;
height: 200px;
margin-top: 103px;
}
.papercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100vh;
}
.shiftbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.papercontent h6{
  color:#FFB400;
  font-family: Goldman;
font-size: 65px;
text-align: center;
font-weight: 700;
line-height: 90px;
letter-spacing: 0.05em;
border: 4px solid #FFB400;
border-radius: 10px;
background-color: #1B256AD9;
}
.box
{
  width: 650px;
  margin-top: 3pc;
}
.listimg{
  padding: 20px;
  width:85px;
  height:90px;
  text-align:start;
}
.papercontent li{
  padding: 38px;
  list-style: none;
}
.papercontent li a{
  text-decoration: none;
  font-family: Goldman;
font-size: 55px;
font-weight: 700;
line-height: 90px;
letter-spacing: 0.05em;
color:#FFB400;
}
.papercontent li a:hover{
  color:navy;
  background-color: none;
}
.papercontent li a:checked{
  color: gray;
  background-color: none;
}
.papercontent ul{
  margin-left:auto;
  margin-right: auto;
}
.navh{
  height: 80px;
  width: 100%;
  margin-top: 70px;
  margin-left: 21px;
}
label.logo{
  color: rgb(255, 255, 255);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
.navh ul{
  float: right;
  margin-right: 20px;
}
.navh ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 20px;
}
.navh ul li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: Goldman;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.navh a.active{
  background: #FFB400;
  transition: .5s;
}
.navh a:hover{
  color: #FFB400;
}
.checkbtn{
  font-size: 30px;
  color: rgb(255, 255, 255);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.logoh{
  width: 40px;
}
.gambitorh{
  width: 200px;
}
@media screen and (max-width:1400px) and (min-width:1000px) 
{
  .paperimg{
    width:1200px;
    height:180px;
  }
  .papercontent h6{
    font-size: 47px;
  }
  .box{
    width:500px;
  }
}
@media screen and (max-width:1000px) and (min-width:770px) 
{
  .paperimg{
    width:750px;
    height:150px;
  }
  .papercontent h6{
    font-size: 35px;
    line-height: 50px;
  }
  .box
{
  width: 340px;
}
.listimg{
  padding: 15px;
  width:55px;
  height:60px;
}
  .papercontent li a{
    font-size: 32px;
    line-height: 50px;
  }
  .papercontent{
    height:80vh;
  }
}
@media screen and (max-width:770px) and (min-width:530px) 
{
  .paperimg{
    width:650px;
    height:120px;
  }
  .papercontent h6{
    font-size: 27px;
    line-height: 30px;
  }
  .box
{
  width: 280px;
}
.listimg{
  padding: 18px;
  width:55px;
  height:65px;
}
  .papercontent li a{
    font-size: 22px;
    line-height: 30px;
    padding:18px;
  }
  .papercontent {
    height:55vh;
  }
}
@media screen and (max-width:530px) 
{
  .paperimg{
    width:460px;
    height:90px;
  }
  .papercontent h6{
    font-size: 20px;
    line-height: 30px;
  }
  .box
{
  width: 220px;
}
.listimg{
  padding: 15px;
  width:50px;
  height:60px;
}
  .papercontent li a{
    font-size: 18px;
    line-height: 30px;
    padding:18px;
  }
  .papercontent {
    height:55vh;
  }
}
@media (max-width:330px) 
{
  .paperimg{
    margin-top:200px;
    width:350px;
  }
  
}
@media screen and (max-width:397px) {
  label.logo{
    padding-left: 0px;
    margin-left: -10px;
  }
  .logoh{
    width:20px;
  }
  .gambitorh{
    width:120px;
  }
}
@media screen and (max-width: 1085px) and (min-width:875px){
  .navh{
    margin-top: 50px;
  }
  label.logo{
    font-size: 20px;
    padding-left: 10px;
  }
  .navh ul li a{
    font-size: 13px;
  }
  .gambitorh{
    width:80px;
  }
  .navh ul{
    margin-right: 5px;
  }
  .navh ul li{
    margin:0 5px;
  }
}
@media screen and (max-width: 1305px) and (min-width:1085px){
  .navh {
    margin-left: -10px;
    width:1300px;
  }
  .navh ul{
    margin-right: 10px;
  }
  .navh ul li{
    margin:0 10px;
  }
}
@media screen and (max-width: 875px) {
  .navh{
    margin-top: 50px;
  }
  label.logo{
    font-size:15px;
    padding-left: 20px;
  }
  .logoh{
    width:30px;
  }
  .gambitorh{
    width:180px;
  }
  .checkbtn{
    display: block;
  }
  .headerlist{
    width: 100%;
    position:fixed;
    top: -40px;
    left: -100%;
    text-align: center;
    transition: all 0.1ms;
  }
  .navh ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    color: #fff;
  }
  .navh ul li a{
    font-size: 20px;
    color: #fff;
  }
  .navh a:hover,.navh a.active{
    background: none;
    color: #FFB400;
  }
  #check:checked ~ ul{
    left: 0;
    position: relative;
  }
}